*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: #7c7887;
    text-align: center;
    width: 380;
}
.container {
    display: flex;
    justify-content: center;
    border-right: 2px solid #2a2a2f;
    border-top: 2px solid #efefef;
}
.post{
    width: 300px;
    padding: 20px;
    margin: 10px;
}
img {
    width: 100%;
}
button {
    border: 1px solid black;
    background: none;
    padding: 5px 10px;
}