*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 400px;
    background-color: bisque;
}

.nav{
    height: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-weight: bolder;
}

.content{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 50px;
}

.infor .inf1{
    font-size: 30px;
}

.infor .inf2{
    padding: 30px 0px;
}

.bnt{
    display: inline-block;
    padding: 10px;
    background-color: red;
    color: white;
}

.img{
    width: 370px;
    height: 180px;
    background-image: url('https://tse3.mm.bing.net/th?id=OIF.b8dhy23m1znNG4Y0r042qw&pid=Api&P=0&h=180');
    background-size: cover;
    border-radius: 100px;
    filter: drop-shadow(-8px 16px 0px #ffffff);
}